.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #c6e2ff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

    &:before {
      content: '<h1>';
      font-family: 'Sunshiney', cursive;
      color: #66FF66;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: 'Sunshiney', cursive;
      color: #66FF66;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
    .aniLetter{
      padding-left: 20px;
      font-family: 'Black Han Sans', sans-serif;
      letter-spacing: 5px;
      -webkit-animation: animatedBackground_b 5s linear infinite alternate;
    }

    @keyframes animatedBackground_b{
    0% {color: #ff8b00}
    10% {color: #e8ff00}
    20% {color: #5dff00}
    30% {color: #00ff2e}
    40% {color: #00ffb9}
    50% {color: #00b9ff}
    60% {color: #002eff}
    70% {color: #5d00ff}
    80% {color: #e800ff}
    90% {color: #ff008b}
    100% {color: #ff0000}
    }
  } 
}

h2 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #0ff, 0 0 30px #0ff,
    0 0 40px #0ff, 0 0 120px #0ff, 0 0 140px #0ff, 0 0 200px #0ff,
    0 0 500px #0ff;
 }
 
  .flat-button {
    color: rgba(0,255,255,0.7);
    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid rgba(0,255,255,0.7);
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, red);
      animation:slidebg 2s linear infinite;
      transform: translateY(-5px);
      box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
      color: #000;
    }
  }

  @keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.follow{
  margin-top: 40px;
}

.follow a{
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;

    h1 {
      font-size: 45px;
    }
  }

  .home-page .flat-button {
    float: none;
    position: relative;
    top: 50px;
    display: felx;
    align-items: last baseline;
    justify-content: flex-end;
    margin: 0 20 0 auto;
  }

  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    top: 100px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
}




